<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.picture_url %>)">
  <%= plant.name %>
  <%= link_to plant_path(plant), method: 'DELETE', data: { confirm: 'Are you sure?' } do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>

  <div class="card-tags">
    <% plant.tags.each do |tag| %>
      <span><%= tag.name %></span>
    <% end %>

    <%= link_to '+', new_plant_plant_tag_path(plant) %>
  </div>


</div>
